body{
    background: darkred;
}

#tableauImage{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#tableauTexte{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#tableau2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.texteNom{
    margin: 20px;
    font-family: "Comic Sans MS";
    color: navajowhite;
}

.texteAge{
    margin: 20px;
    font-family: "Comic Sans MS";
    color: navajowhite;
}

#boutons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.bouton{
    margin: 20px;
    font-family: "Comic Sans MS";
    background: navajowhite;
    color: darkred;
    font-weight: bold;
}

