body{
    background: darkred;
}

#tableauImage{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.texte{
    margin: 20px;
    font-family: "Comic Sans MS";
    color: navajowhite;
}

